{% extends 'base.html' %}
{% block content %}

{% load staticfiles %}


    <div class = "post-entry">
        {% if user.is_authenticated %}


    	<div class="main" >
		<div class="heading">
			Your Todos
		</div >
		<div id="entry_box">
			{% for post in object_list %}
            {% if post.author.username == user.username %}
                <div class = "entry">            <div class="lines"></div>
{{ post.text }}
                    <span class="edit_button"><a href='{% url 'post_edit' post.pk %}'>edit</a></span>          
                    <span class="close_button"><a href='{% url 'post_delete' post.pk %}'>x</a></span></div>
            {% endif %}
            {% endfor %}	
        <div id="input_row">
            <form method="post">{% csrf_token %}
            
            <input id = 'input' name='text'><button id="add_button" type="submit" class="btn btn-success">Add</button>

            </form>
            </div>        

	</div>
    </div>
     {% endif %}
<script src="{% static 'test.js' %}"></script>  

{% endblock %}
